# Data Science Tools and Ecosystem

**Objectives :**
* List Popular DS Languages
* List Popular DS Libraries
* List of DS Tools
* Perform simple arithmetic

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Swift
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. nltk

| Data Science Tools|
|-------------------|
|R Studio |
|Jupyter Lab|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Arun S